http://192.168.1.100:6200 {
        reverse_proxy http://192.168.1.110:8200 http://192.168.1.111:8200 http://192.168.1.112:8200 {
                header_up Host {upstream_hostport}
                transport http {
                        tls
                        tls_insecure_skip_verify
                        read_buffer 8192
                }
        }
}

http://192.168.1.100:7200 {
        reverse_proxy http://192.168.1.113:8200 http://192.168.1.114:8200 http://192.168.1.115:8200 {
                header_up Host {upstream_hostport}
                transport http {
                        tls
                        tls_insecure_skip_verify
                        read_buffer 8192
                }
        }
}