disable_cache           = true
disable_mlock           = true
ui                      = true

listener "tcp" {
   address              = "0.0.0.0:{{ api_port }}"
   cluster_address      = "0.0.0.0:{{ cluster_port }}"
   tls_disable          = true
}

storage "raft" {

   node_id              = "{{ hostname }}"
   path                 = "{{ install_path }}/data"

{% for host in groups[group] -%}
{% if hostvars[host]['vault_host'] != vault_host -%}
   retry_join {
      leader_api_addr   = "http://{{ hostvars[host]['vault_host'] }}:{{ api_port }}"
   }
{% endif -%}
{% endfor -%}
}

cluster_addr            = "http://{{ vault_host }}:{{ cluster_port }}"
api_addr                = "{{ api_addr }}"
